@model List<NameCheckBatchModel>
@{
    var i = 1;
}
<div class="panel-group" id="batches" role="tablist" aria-multiselectable="true">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="batch_heading_@i">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#batches" href="#batch_content_@i" aria-expanded="true" aria-controls="batch_content_@i">
                        Batch n°@i - @(item.NameChecks != null ? item.NameChecks.Count : 0) names
                    </a>
                </h4>
            </div>
            <div id="batch_content_@i" class="panel-collapse collapse @(i == 1 ? "in" : "")" role="tabpanel" aria-labelledby="batch_heading_@i">
                <div class="panel-body">
                    @if (item.NameChecks != null && item.NameChecks.Count > 0)
                    {
                        @Html.Partial("_NameCheckList", item.NameChecks)
                    }
                    else
                    {
                        <p>Nothing to display</p>
                    }

                </div>
            </div>
        </div>
        i++;
    }
</div>
