
@{
    ViewBag.Title = "NameCheck";
}

<div class="jumbotron">
    <h1>Check your project name availability</h1>
    <p>NameCheck helps you to select a name for your projects which is available on <strong>top level domains and social networks</strong>.</p>
    <p><a class="btn btn-primary btn-lg" href="~/namecheck">Try it now</a></p>
</div>

