
@{
    ViewBag.Title = "NameCheck";
}

<div class="jumbotron">
    <h1>Check your project name availability</h1>
    <p>NameCheck helps you to select a name for your projects which is available on top level <strong>domain, Twitter and Facebook</strong>.</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/PulsarBlow/NameCheck">Learn more</a></p>
</div>

