@model NameCheckBatchViewModel

@{
    ViewBag.Title = "Check for a name - Batch mode";
    string authorizationKey = ViewBag.AuthorizationKey as String;
}

<div class="page-header">
    <h1>Check for a name</h1>
    <h5 class="text-info">Batch mode</h5>
</div>

@using(Html.BeginForm("batch", "namecheck", FormMethod.Post, new { role = "form", noValidate = true}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="batch" class="sr-only">Batch content</label>
        @Html.TextAreaFor(x => x.Batch, new { @class="form-control", placeholder="Type your batch content", rows="3"})
        @Html.ValidationMessageFor(x => x.Batch)
        <span class="help-block">A batch is a list of name separated by a semicolon <code>;</code></span>
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> Check batch</button>
}

@if(Model.History != null && Model.History.Count > 0)
{
    <hr />
    <h4>Name check batches</h4>
    @Html.Partial("_NameCheckBatchList", Model.History)
}
