@model NameCheckViewModel
@{
    ViewBag.Title = "Check for a name";
}

<div class="page-header">
    <h1>Check for a name</h1>
</div>

@using (Html.BeginForm("", "NameCheck", FormMethod.Post, new { role = "form", noValidate = true }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
        @Html.ValidationMessageFor(x => x.Name)        
        
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> Check</button>
}

@if (Model.History != null && Model.History.Count > 0)
{
    <hr />
    <h4>Checked names</h4>
    @Html.Partial("_NameCheckList", Model.History)
}
