<?xml version="1.0"?>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--
    Do not change these settings here.
    An appSettings.config file should be generated next to this file after your first build.
    This generated config file is used for local development.
    Upon deployment on Azure Websites, as we use the CloudConfigurationManager class to read config settings, configurations settings
    are read from the hosting environment config file. 
    Read more : http://azure.microsoft.com/blog/2013/07/17/windows-azure-web-sites-how-application-strings-and-connection-strings-work/
    -->
    <add key="TwitterConsumerKey" value="" />
    <add key="TwitterConsumerSecret" value="" />
    <add key="TwitterAccessToken" value="" />
    <add key="TwitterAccessTokenSecret" value="" />
    <add key="GoogleAppId" value=""/>
    <add key="GoogleAppSecret" value=""/>
    <add key="AuthorizedEmails" value="" />    
    <add key="StorageConnectionString" value="" />
    <add key="GandiApiKey" value=""/>
    <add key="CorsAllowOrigins" value="*"/>
    <add key="CorsAllowMethods" value="*"/>
    <add key="CorsAllowHeaders" value="*"/>
    <add key="CacheDurationMin" value="5"/>
</appSettings>